html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: white;
}
h2 {
  font-size: 36px;
  padding-top: 45px;
}

h3 {
  font-size: 24px;
}

/* main {
    flex-grow: 1;
    display: flex;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  /* width: 957px; */
  max-width: 957px;
  /* height: 100vh; */
  margin: auto;
}

/* header */
header {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 138px;
  background: #00aab5;
  padding: 26px;
}

/* for mabile */
@media (max-width: 777px) {

  header {
    display: none;    
  }

}

header h1 {
  font-size: 6.5rem;
  font-weight: 700;
}

@media (max-width: 777px) {
  header h1 {
    font-size: 6.5rem;
    font-weight: 700;
  }
}

header span {
  font-size: 30%;
  vertical-align: middle;
}

/* NAV */
nav li {
  display: inline-flex;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 8px;
  color: white;
}

/* Secciones About me*/

.about_me {
  position: relative;
}

.about_me img {
  display: block;
  width: 100%;
}

.about_me h2{
  position: absolute;
  top: 2%;
  padding: 0%;
  left: 40%;
  font-size: 64px;
}

@media (max-width: 777px) {
  .about_me h2{
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 0%;
    font-size: 32px;
  }
}

.about_me h3{
  box-sizing: border-box;
  position: absolute;
  height: 117px;
  width: 365px;
  font-size: 36px;
  bottom: 10%;
  left: 6%;
  background-color: rgba(114, 153, 254, 0.5);
  text-align: center;
  padding: 20px;
}

@media (max-width: 777px) {
  .about_me h3{
    box-sizing: border-box;
    position: absolute;
    height: 85px;
    width: 267px;
    font-size: 18px;
    bottom: 10%;
    left: 25%;
    background-color: rgba(114, 153, 254, 0.5);
    text-align: center;
    padding: 35px;
  }
}

/* Secciones Skills*/
  .skills {
    height: 424px;
    max-width: 100%;
    background: #7299fe;
  }

  /* for mobile */
@media (max-width: 777px) {
  .skills {
    height: 525px;
  }
}

  .container-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 70px 70px 70px 70px; */
    height: 60%;
    width: 80%;
    margin: 0 auto;
    gap: 0 1.5rem;
  }

  @media (max-width: 777px) {
    .container-skills {
      grid-template-columns: repeat(1, 1fr);
      /* grid-template-rows: 40px; */
      height: 70%;
      
    }
  }

  .skills h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .container-html .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-html .progress-bar {
    max-width: 73.62%;
    height: 1.7rem;
    background: black;
  }

  .container-javascript .full-bar {
    max-width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-javascript .progress-bar {
    max-width: 65.10%;
    height: 1.7rem;
    background: black;
  }

  .container-css .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-css .progress-bar {
    max-width: 57.69%;
    height: 1.7rem;
    background: black;
  }

  .container-React .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-React .progress-bar {
    max-width: 33.51%;
    height: 1.7rem;
    background: black;
  }

  .container-Angular .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-Angular .progress-bar {
    max-width: 37.63%;
    height: 1.7rem;
    background: black;
  }

  .container-Python .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-Python .progress-bar {
    max-width: 50%;
    height: 1.7rem;
    background: black;
  }

  .container-Figma .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-Figma .progress-bar {
    max-width: 50%;
    height: 1.7rem;
    background: black;
  }

  .container-NodeJs .full-bar {
    width: auto;
    height: 1.7rem;
    background: white;
  }

  .container-NodeJs .progress-bar {
    max-width: 41.48%;
    height: 1.7rem;
    background: black;
  }


/* Secciones services*/
.services {
  height: 424px;
  width: 100%;
  background: #fb7171;
  padding: auto;
  text-align: center;
}

@media (max-width: 777px) {
  .services {
    height: 744px;
  }
}

.services .grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 150px; */
  height: 60%;
  margin-top: 22px;
}

@media (max-width: 777px) {
  .services .grid-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 80%;
  }
}

.grid-services div {
  display: grid;
  grid-template-columns: 100%;
  margin: auto;
}

.grid-services div img {
  margin: auto;
}

/* Secciones portfolio*/
.portfolio {
  height: 424px;
  width: 100%;
  background: #ffd233;
  padding: auto;
  text-align: center;
}

@media (max-width: 777px) {
.portfolio {
  height: 1629px;
}
}

.portfolio .grid-portfolio {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  width: 67%;
  margin: 30px auto;
}

@media (max-width: 777px) {
  .portfolio .grid-portfolio {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(1, 1fr);
    width: 67%;
    height: 90%;
  }
}

.grid-portfolio img {
  margin: 10px;
}

/* Secciones clients*/
.clients {
  height: 258px;
  width: 100%;
  background: #3f4e62;
  text-align: center;
}

@media (max-width: 777px) {
  .clients {
    height: 598px;
  }
}

.clients .flex-clients {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
}

@media (max-width: 777px) {
  .clients .flex-clients {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin: 30px auto;
  }
}

/* Secciones contact*/
.contact {
  height: 578px;
  width: 100%;
  background: #16a085;
}

@media (max-width: 777px) {
  .contact {
    height: 761px;
  }
}

.contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact form {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 10%;
  padding-right: 10%;
  gap:20px;
}

@media (max-width: 777px) {
  .contact form {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    gap:20px;
  }
}

.contact input {
  padding: 20px;
}

.contact textarea {
  grid-column-start: 1;
  grid-column-end: 3
}

.contact button {
  margin-left: 43%;
  margin-top: 25px;
  width: 167px;
  height: 56px;
  color: white;
  background-color: #233451 ;
}

@media (max-width: 777px) {
  .contact button {
    margin-left: 33%;
  }
}

/* footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  /* width: 100%; */
  padding: 26px;
  background: #00aab5;
}

@media (max-width: 777px) {
  footer {
    display: none;

  }
}

footer div {
  margin-top: 30px;
  font-size: 14px;



}
